# Pandas Series (1D)

In [3]:
import pandas as pd

In [57]:
list = [1,2,3,4,5]
S = pd.Series(list)
S

0    1
1    2
2    3
3    4
4    5
dtype: int64

# Basic Methods for Series

In [67]:
S.head()

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [71]:
S.tail()

3    4
4    5
dtype: int64

In [73]:
S.sample(n=3)

3    4
2    3
0    1
dtype: int64

In [5]:
S.size

5

In [6]:
S.shape

(5,)

In [7]:
S.dtype

dtype('int64')

In [8]:
S.index

RangeIndex(start=0, stop=5, step=1)

In [9]:
S.values

array([1, 2, 3, 4, 5], dtype=int64)

In [10]:
S.empty #This give True is series is empty

False

In [11]:
S.ndim

1

In [12]:
S.name

In [13]:
S.hasnans #This return True if series has NAN values

False

In [16]:
S.index.is_unique

True

In [17]:
S.unique()

array([1, 2, 3, 4, 5], dtype=int64)

In [18]:
S.value_counts()

1    1
2    1
3    1
4    1
5    1
Name: count, dtype: int64

In [19]:
S.count

<bound method Series.count of 0    1
1    2
2    3
3    4
4    5
dtype: int64>

In [80]:
S.astype(float) #to convert the data type of choice

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
dtype: float64

In [89]:
S.isin([1,2,3])

0     True
1     True
2     True
3    False
4    False
dtype: bool

In [120]:
len(S)

5

In [130]:
S.argsort() #Sort in ascending order

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [220]:
S.duplicated() # Returns a boolean Series indicating if an element is duplicated.

0    False
1    False
2    False
3    False
4    False
dtype: bool

# Aggregation Method

In [78]:
S.sum()

15

In [20]:
S.mean()

3.0

In [83]:
S.median()

3.0

In [21]:
S.mode()

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [22]:
S.max()

5

In [23]:
S.min()

1

In [24]:
S.var()

2.5

In [25]:
S.std()

1.5811388300841898

In [26]:
S.diff()

0    NaN
1    1.0
2    1.0
3    1.0
4    1.0
dtype: float64

In [85]:
S.cumprod()

0      1
1      2
2      6
3     24
4    120
dtype: int64

In [87]:
S.cumsum()

0     1
1     3
2     6
3    10
4    15
dtype: int64

# String Methods (if Series contains strings)

In [98]:
S1 = pd.Series(['a','b','c','d','e'])
S1

0    a
1    b
2    c
3    d
4    e
dtype: object

In [100]:
S1.str.upper() # This only works if series has str values

0    A
1    B
2    C
3    D
4    E
dtype: object

In [102]:
S1.str.lower()

0    a
1    b
2    c
3    d
4    e
dtype: object

In [106]:
S1.str.strip()

0    a
1    b
2    c
3    d
4    e
dtype: object

In [108]:
S1.str.replace('a','z')

0    z
1    b
2    c
3    d
4    e
dtype: object

In [110]:
S1.str.split()

0    [a]
1    [b]
2    [c]
3    [d]
4    [e]
dtype: object

In [128]:
S1.str.len()

0    1
1    1
2    1
3    1
4    1
dtype: int64

In [134]:
S1.str.contains('a') #  Checks if a pattern is present in each element of the Series (useful for text data).

0     True
1    False
2    False
3    False
4    False
dtype: bool

# Indexing and Selection

In [139]:
S[0] # Indexing to select a specific element by its label.

1

In [143]:
S.iloc[2] # Selects by position (integer-based indexing).

3

In [161]:
S2 = pd.Series([1,2,3,4,5], index = ['A','B','C','D','E'])
S2

A    1
B    2
C    3
D    4
E    5
dtype: int64

In [163]:
S2.loc['B'] # Selects by label (index-based).

2

In [171]:
S.get([6], default=0) # Gets the element at the specified index or returns a default value if the index is not found.

0

# Element-wise Methods

In [174]:
S.apply(lambda x: x ** 2)

0     1
1     4
2     9
3    16
4    25
dtype: int64

In [178]:
S.map({1: "one", 2: "two", 3: "three", 4:'four', 5:'five'}) #Maps values in the Series according to a mapping (dictionary or function).

0      one
1      two
2    three
3     four
4     five
dtype: object

# NaN Handling Methods

In [185]:
S.isnull() #Returns a boolean Series indicating if the elements are NaN.

0    False
1    False
2    False
3    False
4    False
dtype: bool

In [189]:
S.notnull() # Returns a boolean Series indicating if the elements are not NaN.

0    True
1    True
2    True
3    True
4    True
dtype: bool

In [193]:
S.fillna(100) # Replaces NaN values with a specified value.

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [195]:
S.dropna() # Removes NaN values from the Series.

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [203]:
S.interpolate(method='linear', axis=0, limit=None, limit_direction='forward', limit_area=None, downcast=None) #Interpolates missing values.

C:\Users\karti\AppData\Local\Temp\ipykernel_8884\1572752095.py:1: FutureWarning: The 'downcast' keyword in Series.interpolate is deprecated and will be removed in a future version. Call result.infer_objects(copy=False) on the result instead.
  S.interpolate(method='linear', axis=0, limit=None, limit_direction='forward', limit_area=None, downcast=None) #Interpolates missing values.

0    1
1    2
2    3
3    4
4    5
dtype: int64

# Mathematical Operations

In [208]:
S.add(5)

0     6
1     7
2     8
3     9
4    10
dtype: int64

In [210]:
S.sub(5)

0   -4
1   -3
2   -2
3   -1
4    0
dtype: int64

In [212]:
S.mul(5)

0     5
1    10
2    15
3    20
4    25
dtype: int64

In [214]:
S.div(5)

0    0.2
1    0.4
2    0.6
3    0.8
4    1.0
dtype: float64

In [216]:
S.pow(2)

0     1
1     4
2     9
3    16
4    25
dtype: int64